{% extends "base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>django </h1>
    <p>1- Using signup, we can register a new user<br>
    2- Using 'login', we can see the generated token<br>
    3- '/rest-example/users' will give users deatils<br>
    4- '/rest-example/users/ (1,2,etc) will give specific user details'<br>
    5- to be imlemented validation,permission etc<br>
     </p>
  </div>
{% endblock %}
